<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/navigation') %>

    <div class="productos container">
      <h2>Productos</h2>

      <ul class="row">
        <li class="producto col-6">
          <img src="/images/tv1.jpg" alt="TV">
        </li>
        <li class="producto col-6">
          <img src="/images/tv1.jpg" alt="TV">
        </li>
        <li class="producto col-6">
          <img src="/images/tv1.jpg" alt="TV">
        </li>
        <li class="producto col-6">
          <img src="/images/tv1.jpg" alt="TV">
        </li>
      </ul>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
